<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel='stylesheet' href='/public/css/main.css' />
	</head>
	<body>
		{{> layouts-header }}

		{{#block "body"}}
			<h2>Default template</h2>
		{{/block}}

		{{> layouts-footer }}
	</body>
</html>
