{{#extend "layouts-default"}}
	{{#content "body"}}
	<header>
		<h1>{{title}}</h1>
		<h2>{{description}}</h2>
	</header>
	<hr />

	<h3>{{view.name}}</h3>
	
	<p>{{elements.[1]}}</p>
	
	{{#each view.elements}}
		<div class="entity {{type}}" id="ent{{type}}-{{id}}">
			<header>
				<h4>{{name}}</h4>
			</header>
			<div style="display: none;">
			{{#if relationships}}
			<ul>
				{{#each relationships}}
					<li>{{description}} -> {{destinationElement.name}}</li>
				{{/each}}
			</ul>
			{{/if}}
			</div>
		</div>
	{{/each}}
	
	{{/content}}
{{/extend}}
