* {
	box-sizing: border-box;
}

body {
	background: #eee;
	font-family: arial, helvetica, sans-serif;
}

.entity {
	float: left;
	display: block;
	width: 160px;
/*	height: 210px;*/
	background: #fff;
	margin: 1em;
	padding: 10px;
	text-align: center;
}

.entity header:before {
	content: ' ';
	display: block;
	width: 140px;
	height: 140px;
	background: none no-repeat center center;
	background-size: cover;
}

.entity.Person header:before {
	background-image: url('/svg/people/default.svg');
}

.entity.SoftwareSystem header:before {
	background-image: url('/svg/softwaresystem/default.svg');
}

.entity header h4 {}